* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 body {
     font-family: 'Inter', sans-serif;
     background-color: #f9f9f9; 
 }
 
 .N-paralelogrami {
     width: 100%;
     height: 100vh; 
     position: absolute;
     top: 0; 
     left: 0; 
     background: linear-gradient(45deg, purple, orange, rgb(126, 196, 214));
     clip-path: polygon(0 0, 100% 0, 100% 24%, 0 70%);
     background-size: 200% 200%;
     animation: moveGradient 5s linear infinite;;
 }
 
 
 
 .N-list {
     position: relative;
     text-align: center;
 }
 
 ul {
     display: grid;
     grid-template-columns: repeat(8, 1fr); 
     gap: 10px;
     padding: 0 20px;
     list-style-type: none;
     margin-top: 10px;
 }
 
 .N-nav-item1 {
     font-size: 150%;
     color: black;
 }
 
 .N-nav-item {
     color: white;
     font-size: large;
 }
 
 .N-header-button {
     display: inline-block;
 }
 
 .N-header-buttons {
     border: none;
     border-radius: 19px;
     padding: 10px 14px;
     background-color: black;
     color: white;
     cursor: pointer;
     transition: color 0.3s ease, opacity 0.3s ease; 
 }
 .N-header-buttons1{
     border: none;
     border-radius: 5px;
     padding: 0 20px;
     background-color: inherit; 
     color: white;
     cursor: pointer;
     transition: color 0.3s ease, opacity 0.3s ease; 
 
 }
 
 .N-header-buttons:hover {
     transform: scale(1.02);
     color: rgba(255, 255, 255, 0);  
     opacity: 0.5;     
 }
 .N-header-buttons1:hover {
     transform: scale(1.02);
     color: rgba(255, 255, 255, 0);  
     opacity: 0.5;     
 }
 
  
 
 .N-button {
    position: relative;
    margin-left: 150px; 
    margin-top: 50px;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: gainsboro;
    text-align: center;
    color: white;
    border-color: gainsboro;
}

 
 
 
 
.N-button {
    position: relative;
    margin-left: 150px; 
    margin-top: 50px;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: gainsboro;
    text-align: center;
    color: white;
    border-color: gainsboro;
}

.N-title {
    position: relative;
    font-size: 4rem;
    margin-left: 10%;
    margin-top: 20px; 
}
#text {
    position: relative; 
    margin-left: 10%;
     margin-top: 3%;
     font-size: 1.1rem;
 }

 
 


.N-search-container {
    position: relative;
    display: inline-block;
    margin-left: 10%;
    margin-top: 2%;
}

#N-search {
    border-radius: 15px;
    width: 300px;
    height: 40px;
    padding-left: 10px; 
    padding-right: 80px;
    font-size: 16px;
    border: 1px solid #ccc; 
}

.N-search-button {
    position: absolute; 
    right: 15px; /
    top: 50%; 
    transform: translateY(10%); 
    
    height: 35px;
    background-color: #00b5e2; 
    color: white; 
    border: none; 
    border-radius: 15px; 
    padding: 5px 15px; 
    font-size: 14px; 
    cursor: pointer; 
    font-weight: bold; 
}

.N-search-button:hover {
    background-color: #009bb5; /
}

#N-search::placeholder {
    color: #aaa; 
}

 
 .N-icons {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
     gap: 15px;
     max-width: fit-content;
     margin: 20px auto;
 }
 
 .N-container{
     width: 800px;
     margin-left: 400px;
     
 
 
 }
 .N-icon {
     width: 50%;
     height: auto;
 }
 
 
 
 .N-button:hover {
     transform: scale(1.01);
 }
 .N-phone-background-fade{
    position: absolute;
    background-color: gainsboro;
    width: 400px;
    height: 500px;
    margin-top: 2rem;
    margin-left: 70rem;
    opacity: 0.7;
    border-radius: 10px;
    z-index: 1;
 }
 .N-phone{
    position: absolute;
    width: 250px;
    height: 500px;
    
    background-color: whitesmoke;
   
    border-radius: 10px;
    margin-left: 62rem;
    z-index: 2;
    margin-top: 5rem;
 }
 .N-screen {
    position: absolute; 
    width: 230px;
    height: 460px; 
    background-color: #eaeaea; 
    border-radius: 16px;
    top: 20px; 
    left: 10px; 
    z-index: 3;

 }
 .N-rocket{
    position: absolute;
    color: black;
    font-family: 'Inter', sans-serif;
    margin-left: 63rem;
    z-index: 3;
    
 }
 #rocket-search{
    border-radius: 4px;
 }
.N-rec1{
    position: absolute;
    background-color: rgb(128, 0, 255);
    width: 60px;
    height: 70px;
    border-radius: 4px;
    z-index: 4;
    margin-left: 85px;
    margin-top: 25px;
}
.N-text-rec1{
    position: absolute;
    color: white;
    z-index: 3;
    font-size: xx-small;
    margin-top: 30px;
    margin-left: 5px;
}
.N-rec2{
    position: absolute;
    z-index: 6;
    background-color: wheat;
    border-radius: 4px;
    width: 60px;
    height: 70px;
    margin-left: 100px;
    margin-top: 40px;
}
.N-text-rec2{
    position: absolute;
    z-index: 8;
    color: white;
    font-size: xx-small;

}
.abstract{
    position: absolute;
    z-index: 4;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    color: black;
    margin-top: 120px;
    margin-left: 70px;
    
}
.pay-rec{
    position: absolute;
    width: 200px;
    height: 20px;
    background-color: darkblue;
    z-index: 6;
    margin-left: 15px;
    border-radius: 5px;
    margin-top: 160px;
}
.pay{
    position: absolute;
    z-index: 7;
    font-family: 'Inter', sans-serif;
    font-size: x-small;
    color: white;
    margin-left: 85px;
    margin-top: 5px;
}
.email{
    position: absolute;
    z-index: 4;
    font-size: x-small;
    color: black;
    font-family: 'Inter', sans-serif;
    margin-top: 220px;
    margin-left: 5px;
}
.email-box{
    position: absolute;
    z-index: 4;
    border-color: wheat;
    background-color: #eaeaea;
    width: 200px;
    height: 10px;
    margin-top: 235px;
    margin-left: 15px;
}
.card{
    position: absolute;
    z-index: 4;
    color: black;
    font-size: x-small;
    font-family: 'Inter', sans-serif;
    margin-left: 80px;
    margin-top: 200px;
}
.card-info{
    position: absolute;
    z-index: 4;
    color: black;
    font-size: small;
    font-family: 'Inter', sans-serif;
    margin-left: 5px;
    margin-top: 250px;
}
.Number{
    position: absolute;
    z-index: 4;
    color: black;
    font-size: x-small;
    font-family: 'Inter', sans-serif;
    margin-left: 5px;
    margin-top: 265px;
    word-spacing: 100px;

}
.MM{
    position: absolute;
    z-index: 4;
    color: black;
    font-size: x-small;
    font-family: 'Inter', sans-serif;
    margin-left: 5px;
    margin-top: 280px;
    word-spacing: 100px;
    

}
.country{
    position: absolute;
    z-index: 4;
    color: black;
    font-size: small;
    font-family: 'Inter', sans-serif;
    margin-left: 5px;
    margin-top: 310px;
    
}
.U{
    position: absolute;
    z-index: 4;
    color: black;
    font-size: small;
    font-family: 'Inter', sans-serif;
    margin-left: 5px;
    margin-top: 330px;


}
.zip{
    position: absolute;
    z-index: 4;
    color: black;
    font-size: small;
    font-family: 'Inter', sans-serif;
    margin-left: 5px;
    margin-top: 350px;

}
.pay-reck1{
    position: absolute;
    width: 200px;
    height: 20px;
    background-color: darkblue;
    z-index: 6;
    margin-left: 15px;
    border-radius: 5px;
    margin-top: 390px;
}
.pay-reck1-text{
    position: absolute;
    z-index: 7;
    font-family: 'Inter', sans-serif;
    font-size: x-small;
    color: white;
    margin-left: 85px;
    margin-top: 390px;

}
.stat-rec{
    position: absolute;
    z-index: 4;
    width: 300px;
    height: 400px;
    background-color: white;
    margin-left: 78em;
    border-radius: 10px;
    margin-top: 7rem;
    
}
.N-today{
    position: absolute;
    z-index: 5;
    font-family: 'Inter', sans-serif;
    font-size: large;
    color: black;
    margin-top: 1rem;
    margin-left: 10px;


}
.N-rec{
    position: absolute;
    z-index: 5;
    width: 250px;
    height: 2px;
    background-color: black;
    margin-top: 3rem;
    margin-left: 10px;
    border-radius: 1px;

}
.volume{
    position: absolute;
    z-index: 5;
    font-family: 'Inter', sans-serif;
    font-size: small;
    color: black;
    margin-top: 3.5rem;
    margin-left: 10px;

}
.yesterday{
    position: absolute;
    z-index: 5;
    font-family: 'Inter', sans-serif;
    font-size: x-small;
    color: black;
    margin-left: 12rem;
    margin-top: 3.5rem;
}
.numbers{
    position: absolute;
    z-index: 5;
    font-family: 'Inter', sans-serif;
    font-size: small;
    color: black;
    margin-top: 4.5rem;
    margin-left: 10px; 
}
.small-num{
    position: absolute;
    z-index: 5;
    font-family: 'Inter', sans-serif;
    font-size: x-small;
    color: black;
    margin-top: 4.5rem;
    margin-left: 12rem;
}   
.stat-img{
    position: absolute;
    z-index: 5;
    width: 200px;
    height: 150px;
    margin-top: 15rem;
    margin-left: 10rem;
}
.stat1-img{
    position: absolute;
    z-index: 5;
    width: 200px;
    height: 150px;
    margin-top: 6rem;
} 
    
/* For screens that are smaller than 1200px */
 @media (max-width: 1200px) {
     .ul {
         grid-template-columns: repeat(5, 1fr); 
     }
     .N-title {
         font-size: 2.5rem; 
         margin-left: 5%;  
     }
     #text {
         font-size: 1rem; 
         margin-left: 5%;
     }
     #N-search {
         width: 250px;
     }
 }
 
 /* For screens smaller than 768px (Mobile/Tablets) */
 @media (max-width: 768px)/* Prevents any space below the image */ {
     ul {
         grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
     }
     .N-title {
         font-size: 1.8rem;
         margin-left: 5%;
     }
     #text {
         font-size: 0.9rem;
         margin-left: 5%;
     }
     .N-button {
        width: 30%;
     }
     #N-search {
         width: 90%; 
     }
  
     
     .N-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(3, 1fr); 
        gap: 10px; 
        margin: 0 auto; 
        width: 80%; 
        z-index: 3;
        margin-top: 10rem;
    }

    .N-icon {
        width: 100%;
        height: auto; 
        object-fit: cover;
    }

    .N-icons {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px; 
        max-width: 100%; 
        margin: 0 auto; 
        z-index: 3;
    }
     .N-search-container{
        display: none;
     }
     #text{
        margin-top: 2rem;
     }
     .N-screen{
        display: none;
     }
     .N-phone{
        display: none;

     }
     .card{
        display: none;
     }
     .pay-rec{
        display: none;
     }
     .card-info{
        display: none;
     }
     .email-box{
        display: none;
     }
     .number, .MM, .country, .U, .zip, .N-rec1, .pay-reck1, .N-rce2, .stat-rec, .N-rec, .volume, .yesterday, .numbers, .small-num, .stat-img, .stat1-img, .N-phone-background-fade{
        display: none;
     }
 }
 
 
 @media (max-width: 600px){
    .N-button{
        display: none;
    }
    .N-list{
        display: none;
    }
 
    .N-screen{
        display: none;
    }
 }
 @media (max-width: 480px) {
    .N-list{
        display: none;
    } 
    .N-title {
         font-size: 1.5rem; 
         margin-left: 5%;
     }
     #text {
         font-size: 0.8rem;
         margin-left: 5%;
     }
     .N-button {
         display: none;
     }
     #N-search {
         width: 80%; 
     }
     .N-icons {
         grid-template-columns: 1fr 1fr; 
     }
     .N-screen{
        display: none;
     }
     .N-phone{
        display: none;

     }
     .card{
        display: none;
     }
     .pay-rec{
        display: none;
     }
     .card-info{
        display: none;
     }
     .email-box{
        display: none;
     }
     .number, .MM, .country, .U, .zip, .N-rec1, .pay-reck1, .N-rce2, .stat-rec, .N-rec, .volume, .yesterday, .numbers, .small-num, .stat-img, .stat1-img, .N-phone-background-fade{
        display: none;
     }

 }
 @keyframes moveGradient {
     0% {
         background-position: 0% 50%;  
     }
     50% {
         background-position: 100% 50%; 
     }
     100% {
         background-position: 0% 50%;  
     }
 
 }